#page {
	width: 70%;
	margin: 10px auto;
}
.col-md-2 {
	padding:20px;
}

.border_red {
	border-style: solid;
	border-width: 1px;
	border-color: red;

}

.border_gray {
	border-style: solid;
	border-width: 1px;
	border-color: #b4b5b8;
	padding: 15px;

}
	

#menu2 li {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: inline;

}

footer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	display: inline;
	text-decoration: none;

}

#menu li{
	display: inline;
	padding: 10px;
	margin-top: 5px;
}

.Accounts {
	font-size: 16px;
	color: #337ab7;
	font-weight: bold;

}

