#page {
	width: 70%;
	margin: 10px auto;
}
.col-md-2 {
	padding:20px;
}

.border_red {
	border-style: solid;
	border-width: 1px;
	border-color: red;

}

.border_gray {
	border-style: solid;
	border-width: 1px;
	border-color: #b4b5b8;
	padding: 15px;

}